{% extends 'shared/base.html' %}
{% load static %}

{% block page_styles %}
    <link rel="stylesheet" href="{% static 'css/css.css' %}"/>
{% endblock %}

{% block site_title %}
    Index page with CBV
{% endblock %}

{% block site_main_content %}
    <h1>It works from ClassView</h1>
    <ul>
        {% for user in users %}
            <li>
                {{ user.username }}
            </li>
        {% endfor %}
    </ul>

    <form action="/" method="GET">
        <input type="text" name="first_name">
        <input type="number" name="age">

        <input type="range">
        <input type="radio">
        <input type="file">

        <select name="dropdown">
            <option>One</option>
            <option>Two</option>
        </select>

        <select multiple name="multiplechoice">
            <option>One</option>
            <option>Two</option>
        </select>

        <textarea rows="5"></textarea>

        <input type="submit" value="Submit with input">
        <button>Submit with button</button>

    </form>
{% endblock %}
